{% extends 'base.html' %}
{% load static %}
{% block script %}
<script src="{% static "spotify/js/main.js" %}"></script>

{% endblock script %}
{% block content %}
<div class="noise">
</div>
<div class="parent">
    <div class="div10"></div>
    <div class="div1">
        <span class="headline"><img class="spotify_logo" alt="Spotify" src="{% static "spotify/img/spotify.svg" %}"> <span class="headline_text">Playlist Manager</span></span>
    </div>
    <div class="div8">
        <span class="head_user">Hallo, {{ username }}</span>
    </div>
    <div class="div2">
        <ol class="playlists">
            {% for pl in playlists %}
            <li id="{{ pl.uri }}"><img class="cover_small" src="{{ pl.image }}" alt="albumcover" width="48px" height="48px"/><span class="pl_name">{{ pl.name }}</span><img class="icon_right delete" src="{% static "spotify/img/trash.svg" %}" id="delete_playlist" uri="{{ pl.uri }}" /></li>
            {% endfor %}
        </ol>
    </div>
    <div class="div3">3</div>
    <div class="div4">4</div>
    <div class="div5">
        <div id="playlist_info" class="playlist_info">
            <img src="/static/spotify/img/musicnote.png" class="cover_vsmall" id="playlist_img" />
            <span class="wrapper">
                <span id="playlist_name" class="playlist_name">PLaylistName</span>
                <input type="hidden" id="current_playlist_uri" value="" />
                <span id="playlist_count" class="playlist_count">PLaylistName</span>
            </span>
        </div>
        <ol id="playlist" class="playlist">
            <li id="01">
                <img class="icon_left" src="{% static "spotify/img/trash.svg" %}" />
                <span class="track">
                    <span id="songname_01" class="maybelong song"><span>SongSongSongSongSongSongSongSongSong</span></span>
                    <span id="artist_01" class="maybelong artist"><span>Artist</span></span>
                </span>
                <img id="cover_01" class="cover_vsmall" src="static/spotify/img/musicnote.png" alt="albumcover" />
            </li>
            <li id="02">
                <span class="track">
                    <span id="songname_02" class="song">Song2</span>
                    <span id="artist_02" class="artist">Artist3</span>
                </span>
                <img id="cover_01" class="cover_vsmall" src="static/spotify/img/musicnote.png" alt="albumcover" />
            </li>
        </ol>
    </div>
    <div class="div9"></div>
    <div class="div11"></div>
    <div class="div7">
        <div class="player">
            <div class="head_info">
                <span class="pre"><span id="status">{{ pi.status }}</span>
                    <span id="device" class="device">{{ pi.device }}</span>
                </span>
                <img id="current_img" class="cover" src="{{ pi.image }}" alt="albumcover" /> 
                <span class="track">
                    <span id="songname" class="song">{{ pi.name }}</span>
                    <span id="artist" class="artist">{% for artist in pi.artists %}{{ artist.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="div12"></div>
    <div class="div6">
        <footer id="django" role="contentinfo">
            <p>Powered by <a href="http://www.djangoproject.com">Django</a>.</p>
        </footer>
    </div>
</div>
{% endblock content %}